.content__section_problem,
.content__section_about,
.content__section_strategy,
.content__section_how-to-use {
  background-color: var(--bg-color);
}

.content__title {
  text-align: center;
  font-size: clamp(1rem, -0.0938rem + 4.5vw, 2.175rem);
  color: var(--text-color);
  padding-top: 7vw;
  padding-bottom: 2, 5vw;
  font-family: var(--accent-font);
}

.content__paragraph {
  color: var(--text-color);
  padding: 1.5rem;
  font-size: 18px;
  font-family: var(--main-font);
}

.content__link {
  inherit: var(--text-color);
}

.content__blockquote {
  text-align: left;
  padding-bottom: 1.5rem;
  font-style: italic;
  font-family: var(--main-font);
  width: 75%;
  height: auto;
  margin: auto;
  font-size: 18px;
  padding-left: 6rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: var(--text-color);
}

.content__list {
  list-style-type: none;
  color: var(--text-color);
  font-family: var(--main-font);
}

.content__list:not(:last-child) {
  padding-bottom: 10px;
}

.content__list::before {
  content: url(/images/marker-light.svg);
  color: var(--text-color);
  width: 15px;
  height: 15px;
}

.theme_dark .content__list::before {
  content: url(/images/marker-dark.svg);
  color: var(--text-color);
  width: 15px;
  height: 15px;
}

.content__text-block_type_first-lettered:first-letter,
.theme_dark .content__text-block_type_first-lettered:first-letter {
  background-color: var(--accent-color);

  font-style: mixed;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 1px;

  font-weight: bold;
}

.content__text-block_type_first-lettered:first-letter {
  color: var(--text-color);
  font-size: 2rem;
}

.theme_dark .content__text-block_type_first-lettered:first-letter {
  border: 1px solid #b3b3b3;
}

.content__picture {
  width: 100%;
  height: 100%;
}

.content__picture__caption {
  text-align: center;
  color: var(--text-color);
  font-size: 18px;
  border-bottom: 2px solid var(--text-color);
  height: 61px;
  padding-top: 15px;
  font-family: var(--main-font);
}
